/*
 main css file for modmon
*/

body{
	padding:0;
	margin:0;	
	font-family: verdana;
	font-size: 90%;
}


#container{
	padding:0;
	width: 970px;
	background: #fff url(./logo.png) no-repeat right top;	
	padding-left: auto;
	margin:0pt auto;
}
	
#content{
	margin: 20px;	
}

h1 a{	
	color: white;	
	margin:0;	
	display: block;
	padding: 20px 0 20px 200px;
}


ul{
	padding: 0;
	margin:0;
	border-bottom: 1px solid grey;
	text-align: right;
}

li{
	display: inline;
	list-style-type: none;
	padding-right: 20px;	
}

li a{
	color: grey;
	text-decoration: none;
}

label{
	display:block;
	width:150px;
	float: left;
}

input {
	border: 1px solid grey;
}

